/* Make the container take full screen height and width */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

/* Center the title container at the top */
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px; /* Adjust vertical positioning */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

.small-mail-icon {
  width: 20px; /* Smaller size for the mail icon */
  margin-right: 5px;
}

.small-app-title {
  color: #fff;
  font-size: 14px; /* Smaller font size for the text */
  font-weight: normal;
}

/* Style for the login box in the center */
.login-box {
  background-color: #111;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  max-width: 90%;
  margin-top: 100px;
}

h2 {
  color: white;
  margin-bottom: 20px;
}

.google-login-btn,
.create-account-btn {
  background-color: #3b3b3b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.create-account-btn {
  background-color: #1a73e8;
}

.google-login-btn img {
  width: 20px;
  margin-right: 10px;
}

.google-login-btn:hover,
.create-account-btn:hover {
  background-color: #555;
}

p {
  color: #fff;
  margin-top: 20px;
}

p span {
  color: #1a73e8;
  cursor: pointer;
}
